.git
.idea
.codebuddy
.cache
.pytest_cache
.VSCodeCounter
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.log
logs/

venv/
.env
.env.*
!.env.docker.example

**/files/
**/processed_files/
**/config.yaml
**/ingestion_state.json
**/server_token.txt
**/api_url.txt

projects_storage/
